.header {
   background-color: rgb(226, 247, 255);
   padding: 5px 0;
}
.header__row {
   display: flex;
   justify-content: space-between;
   align-items: center;
}
.header__logo {
   flex: 0 1 70px;
}

.header__logo img {
   max-width: 100%;
}

.header__info {
   font-size: 18px;
   text-decoration: underline;
}

.header__quit {
   font-size: 12px;
   margin-left: 10px;
   background-color: transparent;
   color: rgb(25, 231, 221);
   cursor: pointer;
}
