.aside {
   padding: 20px 20px 0px 0px;
}
.aside__menu {
}
.menu__nav {
}
.menu-list {
   display: flex;
   flex-direction: column;
   align-items: flex-start;
}

.menu-list__item a.active::before {
   content: "";
   width: 10px;
   background-color: rgb(22, 225, 240);
   height: 1px;
   position: absolute;
   top: 50%;
   left: -15px;
   transform: translateY(-50%);
}

.menu-list__item a {
   color: #000;
   text-decoration: none;
   position: relative;
   display: block;
}

.menu-list__item {
   list-style: none;
   cursor: pointer;
   line-height: 32px;
   font-weight: bold;
}
