.my-posts {
   flex: 1 1 auto;
}

.section-title {
   font-weight: 500;
   font-size: 18px;
   line-height: 32px;
   color: rgb(109, 109, 109);
}

.my-posts__form {
   display: flex;
}
.my-posts-form__textarea {
   flex: 1 1 auto;
}

.my-posts-form__button {
   margin: 0px 0px 0px 25px;
}

.my-posts__container {
   padding: 20px 10px;
}
