.userspage {
}
.userspage__column {
}
.userspage__search-title {
   margin-bottom: 5px;
}
.userspage__users-title {
   margin-bottom: 5px;
}
.userspage-form {
   display: flex;
}
.userspage-form__button {
   margin-left: 25px;
}

.userspage__content {
   padding: 25px 0;
}

.userpage__showmore-btn {
   margin-top: 25px;
   text-align: center;
}

.userpage__showmore-btn button {
   margin: 0 auto;
}
