.profile-info__socials {
   font-size: 25px;
}

.profile-info__socials a {
   margin-right: 15px;
}

.profile-info__socials a:last-child {
   margin: 0;
}

.fa-github {
}
.fa-vk {
   color: rgb(22, 127, 175);
}
.fa-facebook-f {
   color: rgb(3, 61, 168);
}
.fa-twitter {
   color: rgb(47, 203, 241);
}
.fa-instagram {
   color: rgb(210, 90, 214);
}
.fa-youtube {
   color: rgb(155, 48, 48);
}
