* {
   padding: 0;
   margin: 0;
   border: 0;
}
*,
*:before,
*:after {
   -moz-box-sizing: border-box;
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
}
:focus,
:active {
   outline: none;
}
a:focus,
a:active {
   outline: none;
}

a {
   text-decoration: none;
}

nav,
footer,
header,
aside {
   display: block;
}

html,
body {
   height: 100%;
   width: 100%;
   font-size: 100%;
   line-height: 1;
   font-size: 14px;
   -ms-text-size-adjust: 100%;
   -moz-text-size-adjust: 100%;
   -webkit-text-size-adjust: 100%;
}

li {
   list-style: none;
}

body {
   font-family: "Arial", sans-serif;
   min-height: 100%;
}

#root {
   min-height: 100%;
   display: flex;
   flex-direction: column;
}

.container {
   max-width: 1180px;
   padding: 0 15px;
   margin: 0 auto;
}
