.my-button {
   display: block;
   background-color: rgb(7, 165, 170);
   min-width: 100px;
   padding: 7px 15px;
   cursor: pointer;
   color: #fff;
   font-size: 16px;
   font-weight: 700;
}

.my-button:disabled {
   background-color: rgba(135, 231, 235, 0.5);
}
